<!doctype html>
<html>
<head>
  <title>Soda / Channel Midnight</title>
  <meta charset="utf-8">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta content="yelo" name="author"/>
  <meta name="copyright" content="Copyright (c) 2016 Yelo."/>
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
  <meta content="yes" name="apple-mobile-web-app-capable"/>
  <meta content="blank" name="apple-mobile-web-app-status-bar-style"/>
  <meta name="apple-touch-fullscreen" content="yes">
  <meta content="telephone=no" name="format-detection"/>

</head>
<body>

  <main id="main"></div>

  <script src="/v1/static/app/entry/main.js"></script>

</body>
</html>
