
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487597872985'); /* IE9*/
  src: url('iconfont.eot?t=1487597872985#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487597872985') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487597872985') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487597872985#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before { content: "\e61e"; }

.icon-qq:before { content: "\e65f"; }

.icon-cross:before { content: "\e69b"; }

.icon-top:before { content: "\e62f"; }

.icon-netease:before { content: "\e602"; }

.icon-xiami:before { content: "\e64b"; }

.icon-search:before { content: "\e606"; }

.icon-circle-pause-o:before { content: "\e607"; }

.icon-single-cycle:before { content: "\e608"; }

.icon-disc:before { content: "\e609"; }

.icon-erji:before { content: "\e60a"; }

.icon-microphone:before { content: "\e60b"; }

.icon-circle-reduce-o:before { content: "\e60c"; }

.icon-mute:before { content: "\e60d"; }

.icon-loop:before { content: "\e60e"; }

.icon-circle-cross-o:before { content: "\e60f"; }

.icon-volumn:before { content: "\e610"; }

.icon-circle-fast-backward-o:before { content: "\e611"; }

.icon-random:before { content: "\e612"; }

.icon-heart:before { content: "\e613"; }

.icon-circle-play-o:before { content: "\e614"; }

.icon-circle-stop-o:before { content: "\e615"; }

.icon-deny:before { content: "\e616"; }

.icon-list:before { content: "\e617"; }

.icon-setting:before { content: "\e618"; }

.icon-refresh:before { content: "\e619"; }

.icon-circle-add-o:before { content: "\e61a"; }

.icon-circle-fast-forward-o:before { content: "\e61b"; }

.icon-music:before { content: "\e61c"; }

.icon-equilizer:before { content: "\e61d"; }

.icon-next:before { content: "\e660"; }

